


<div class='row'>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <button type="/one_player_tic-tac_toe">Play The Computer</button>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">      
  <button href='/two_player_tic_tac_toe' type="link">Play A Friend</button>

</div>
