<h1>Tic Tac Toe</h1>

<br>
<br>

<div class="row">
  <div class="col-md-4 col-sm-4 box_top_left square">
    <div>
      <form action="/top_left">
        <input type="checkbox">
      </form>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 box_top_middle square">
      x
  </div>
  <div class="col-md-4 col-sm-4 box_top_right square">

  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-4 box_middle_left square">

  </div>
  <div class="col-md-4 col-sm-4 box_middle square">

  </div>
  <div class="col-md-4 col-sm-4 box_middle_right square">

  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-4 box_bottom_left square">

  </div>
  <div class="col-md-4 col-sm-4 box_bottom_middle square">
      <p>x</p>
  </div>
  <div class="col-md-4 col-sm-4 box_bottom_right square">
      <p>x</p>
  </div>
</div>
