body {
  font-family: 'Raleway', sans-serif;
}

.box_top_left{
  border-width: large;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left_style: none;
  border-top_style: none;
  border-color: black;
  font-size: 55pt;
  max-width;
  .center-block();
}

.box_top_middle{
  border-width: large;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left_style: solid;
  border-top_style: none;
  border-color: black;
  font-size: 55pt;
}

.box_top_right{
  border-width: large;
  border-right-style: none;
  border-bottom-style: solid;
  border-left_style: solid;
  border-top_style: none;
  border-color: black;
  font-size: 55pt;
}

.box_middle_left{
  border-width: large;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left_style: none;
  border-top_style: none;
  border-color: black;
  font-size: 55pt;
}

.box_middle{
  border-width: large;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left_style: solid;
  border-top_style: solid;
  border-color: black;
  font-size: 55pt;
}

.box_middle_right{
  border-width: large;
  border-right-style: none;
  border-bottom-style: solid;
  border-left_style: solid;
  border-top_style: solid;
  border-color: black;
  font-size: 55pt;
}
.box_bottom_left{
  border-width: large;
  border-right-style: solid;
  border-bottom-style: none;
  border-left_style: none;
  border-top_style: none;
  border-color: black;
  font-size: 55pt;
}

.box_bottom_middle{
  border-width: large;
  border-right-style: solid;
  border-bottom-style: none;
  border-left_style: solid;
  border-top_style: solid;
  border-color: black;
  font-size: 55pt;
}

.box_bottom_right{
  border-width: large;
  border-right-style: none;
  border-bottom-style: none;
  border-left_style: solid;
  border-top_style: solid;
  border-color: black;
  font-size: 55pt;
}

.row .square {
  height: 190px;
  padding: 70px;
  text-align: center;
}
